h1 {
    font-family: 'Roboto';
    text-align: center;
}

/* body {
    margin-top: 10em;
} */

body.mainContainer {
    margin: 0 24vw;
}

header {
    padding: 2em;
}

footer {
    height: 400px;
}

section#add-account, section#search-account, section#about-app {
    display: none;
}

.logo {
    border-radius: 50%;
    width: 7em;
    /* margin: 1.5em; */
}

span.dashboard-label {
    font-size: 1.6em;
}

label[for=dashboard-month-selector] {    
    margin-top: 1.1em;
}

#about-container {
    display: flex;
}

#about-container > article {
    text-align: justify;
    padding: 1em;
    padding-top: 0;
}

#about-container > aside {
    padding: 1em;
    padding-top: 0;
}

@media (max-width: 768px) {
    body.mainContainer {
        margin: 0;
    }
    
    section.operations-container {
        margin: 1.5em 2em;
        margin-bottom: 2em;
    }

    table {
        table-layout: fixed;
        width: 100%;
        font-size: 0.6em;        
    }

    i#edit, i#del, i#accept {
        font-size: 1.5em;
    }

    i {
        font-size: 1.2em;
    }

    th.table-buttons {
        width: 8vw;
    }

    th#table-number {
        width: 5vw;
    }

    #about-container {
        flex-direction: column-reverse;
    }

    #about-container > aside > h4, a {
        text-align: center;
    }

}